* {
    margin: 0;
    padding: 0;
  }

  .hidden {
    display: none;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004980;
  }
  
  .app {
    color: #004980;
    display: flex;
    flex-direction: column;
  }

  .introText {
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;

    font-family: 'StratosSkyeng', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #004980;
    margin-left: 136px;
    margin-bottom: 48px;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

  }

  .count {
    width: 97px;
    height: 98px;
    left: 342px;
    top: 354px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0080C1;

  }
  
  .btn {
    color: #7AC100;
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;    
    background: #7AC100;
    border-radius: 12px;
    border-color: transparent;
    font-family: 'StratosSkyeng', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #FFFFFF;
    margin: 67px auto 0;
  }

  .numberBox {
    width: 98px;
    height: 98px;
    left: 341px;
    top: 354px;

    background-color: #FFFFFF;
    border-radius: 12px;

    font-family: 'StratosSkyeng', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #0080C1;
  }

  .box {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;

    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }